service_account_key_path = "xxxx/path/to/service-account.json"
bootstrap_project_id     = "xxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

create_project           = true
target_project_name      = "cmf-rehost-springboot"
target_project_owner_email = "xxxx@sa.stackit.cloud"
# Set this when the service account cannot read bootstrap project metadata:
# parent_container_id      = "organization-xxxxxxxx"

region                = "eu01"
availability_zone     = "eu01-1"
server_name           = "rehost-springboot-vm"

# Required if auto_discover_compute_defaults = false
machine_type          = ""
image_id              = ""
auto_discover_compute_defaults = false

ssh_user              = "ubuntu"
public_ssh_key_path   = "~/.ssh/id_rsa.pub"
private_ssh_key_path  = "~/.ssh/id_rsa"
jar_local_path        = "ansible/files/springboot-app.jar"
run_ansible           = true
